.Asia{
    color: coral;
}
h2{
    color: darkslategray;
}
h3{
    color: rgb(229, 68, 68);
}
h4{
    color: darkred;
}
#China{
    color: black;
}

*{
    text-align: center;
    background-color: rgb(228, 182, 166);
}
h2, h3{
    font-family: monospace;
    font-size: larger;
}